body {
    background-color: #ffffff;
    color: #ffffff;
    margin: 0;
    font-family: Arial, sans-serif;
}
.course-head {
    background-color: #000000;
    margin: 0px;
    padding: 20px;
    text-align: center;
    font-size: 2.5rem;
    margin: 20px 0;
    color: #ffffff;
}

.pdf-container {
    margin: 0px;
    justify-content: center;
    border: none;
    background-color: #ffffff;
    display:flex;
    flex-wrap: wrap;
    border-radius: 10px;
    gap: 20px;
    padding: 20px;
}

.pdf-card {
    align-items: center;
    justify-content: center;
        border: 1px solid #ddd;
    height: 50%;
    width: 10vw;
    margin: 20px;
    border-radius: 10px;
    padding: 20px;
    background-color: #ffffff;
}
.pdf-card:hover {
    box-shadow: 0 10px 15px rgba(0, 0, 0, 1);
    transform: translateY(-5px);
    transition: all 0.3s ease;
}

.pdf-img {
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 10px;

}
.pdf-title {
    text-align: center;
    font-size: 1.2rem;
    margin: 10px 0;
    color: #000000;
}

.pdf-link {
    align-items: center;
    display: flex;  
    justify-content: center;
    text-decoration: none;
    color: #ffffff;
    background-color: #000000;
    padding: 10px 15px;
    border-radius: 5px;
}